Files/AI AGENTS/Whatsapp_Agent.json
{
  "name": "Whatsapp Agent",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "messages"
        ],
        "options": {}
      },
      "type": "n8n-nodes-base.whatsAppTrigger",
      "typeVersion": 1,
      "position": [
        -160,
        60
      ],
      "id": "95e30dcf-fa2e-418f-9a39-62dc6de383d7",
      "name": "WhatsApp Trigger",
      "webhookId": "c56d1e6c-ab68-45b9-887b-8b2fcf8a34a5",
      "credentials": {
        "whatsAppTriggerApi": {
          "id": "fLuRnDOztdBUPhXB",
          "name": "WhatsApp OAuth account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.text }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=Hi,  {{ $json.contacts[0].profile.name }} \n\nNice to Meet U. How can I Help U",
          "returnIntermediateSteps": true
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        1192,
        60
      ],
      "id": "c822b0f5-5744-4b4c-8821-31be6b75c290",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        680,
        580
      ],
      "id": "80149087-08e5-4bfc-b23c-2192130bec68",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "jLrpiZxFD57TyoM6",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('WhatsApp Trigger').item.json.messages[0].from  }}",
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        1280,
        280
      ],
      "id": "5b87d72b-6afe-4e5a-ac4e-fab66f86ddb7",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f5038771-5d08-4bb1-b0d8-bb2360f6a396",
              "name": "text",
              "value": "={{ $json.messages[0].text.body }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        940,
        60
      ],
      "id": "3166e9bd-6e4b-42fb-89f1-ca0b5f09aa96",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.messages[0].audio }}",
                    "rightValue": "",
                    "operator": {
                      "type": "object",
                      "operation": "exists",
                      "singleValue": true
                    },
                    "id": "2214d8fb-844b-4b21-a1b4-f890ac1e2340"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Audio"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "4aa13aa4-575e-4b7c-9aff-e13928c27a76",
                    "leftValue": "={{ $json.messages[0].text }}",
                    "rightValue": "",
                    "operator": {
                      "type": "object",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Text"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "38c1e290-2bc0-42fd-965a-71fe414945b6",
                    "leftValue": "={{ $json.messages[0].image }}",
                    "rightValue": "",
                    "operator": {
                      "type": "object",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Image "
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        60,
        60
      ],
      "id": "7ca441ba-97ca-41f1-94f0-7c168eb900c3",
      "name": "Switch"
    },
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        500,
        -140
      ],
      "id": "56d58b60-9498-4875-bd22-ffc74e995f5d",
      "name": "Download AUDIO",
      "credentials": {
        "httpHeaderAuth": {
          "id": "d0kcH5KQXqbkCp2q",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "resource": "media",
        "operation": "mediaUrlGet",
        "mediaGetId": "={{ $json.messages[0].audio.id }}"
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        280,
        -140
      ],
      "id": "2fb5db3f-cd45-48b6-b1e5-a8bb77e05f52",
      "name": "GET AUDIO URL",
      "webhookId": "4fbc91bb-7c80-472d-a5e0-4fefce8da5ac",
      "credentials": {
        "whatsAppApi": {
          "id": "yojxQbefwvRwxAtB",
          "name": "WhatsApp account"
        }
      }
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        700,
        -140
      ],
      "id": "8f1040b7-7dc0-432c-bd82-e6add8953545",
      "name": "OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "bzSlxGYsfbzM0lFT",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "7eae9e38-a116-490e-879e-b110bbc365a1",
              "name": "text",
              "value": "={{ $json.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        940,
        -140
      ],
      "id": "3fb6d04b-f1ed-474d-a0b7-34c18e9859a1",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "049b7883-ac42-41c8-ad9a-e987b155f2ea",
              "leftValue": "={{ $('WhatsApp Trigger').item.json.messages [0].audio }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1600,
        60
      ],
      "id": "882e98d8-68d1-400b-932c-c9671666245d",
      "name": "If"
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "={{ $('Switch').item.json.metadata.phone_number_id }}",
        "recipientPhoneNumber": "={{ $('WhatsApp Trigger').item.json.messages[0].from }}",
        "textBody": "={{ $('AI Agent').item.json.output }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        1820,
        160
      ],
      "id": "76514283-176f-4155-a5d1-b9e944e23eec",
      "name": "Respond to text",
      "webhookId": "f88dc6e3-02bb-4b6f-9d60-68d527b3a021",
      "credentials": {
        "whatsAppApi": {
          "id": "WS69NHfHUZ53ZHLZ",
          "name": "WhatsApp account 2"
        }
      }
    },
    {
      "parameters": {
        "resource": "audio",
        "input": "={{ $('AI Agent').item.json.output }}",
        "voice": "nova",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        1820,
        -40
      ],
      "id": "24d828c0-821d-437b-952d-a99ada4808cc",
      "name": "Generate Audio",
      "credentials": {
        "openAiApi": {
          "id": "bzSlxGYsfbzM0lFT",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Loop over input items and change the MIME type of binary data\nfor (const item of $input.all()) {\n  // Check if the item has binary data\n  if (item.binary) {\n    // Find the binary property name (assuming there's at least one)\n    const binaryPropertyNames = Object.keys(item.binary);\n\n    for (const propName of binaryPropertyNames) {\n      // If the MIME type is 'audio/mp3', change it to 'audio/mpeg'\n      if (item.binary[propName].mimeType === \"audio/mp3\") {\n        item.binary[propName].mimeType = \"audio/mpeg\";\n      }\n    }\n  }\n}\n\nreturn $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2040,
        -40
      ],
      "id": "fa5add5b-c9ec-4707-bf08-38720dc082f3",
      "name": "Code"
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "645909028606252",
        "recipientPhoneNumber": "={{ $('WhatsApp Trigger').item.json.messages[0].from }}",
        "messageType": "audio",
        "mediaPath": "useMedian8n",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        2260,
        -40
      ],
      "id": "21d1f03d-6298-441e-873a-e8b0959523a5",
      "name": "Respond to audio",
      "webhookId": "53abc8b4-338b-4b69-ab93-bea6146f3031",
      "credentials": {
        "whatsAppApi": {
          "id": "yojxQbefwvRwxAtB",
          "name": "WhatsApp account"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        500,
        260
      ],
      "id": "ecb47ded-007f-4cab-be13-3ad8bb8ad17c",
      "name": "Image  Download ",
      "credentials": {
        "httpHeaderAuth": {
          "id": "d0kcH5KQXqbkCp2q",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "resource": "media",
        "operation": "mediaUrlGet",
        "mediaGetId": "={{ $json.messages[0].image.id }}"
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        280,
        260
      ],
      "id": "db82b9b8-475b-40ab-89ee-dafaad4b4d4d",
      "name": "get Image url",
      "webhookId": "96a3e499-db79-452f-b8b5-9ed8d956697b",
      "credentials": {
        "whatsAppApi": {
          "id": "yojxQbefwvRwxAtB",
          "name": "WhatsApp account"
        }
      }
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "GPT-4O"
        },
        "text": "What's in this image?  Describe the image in  details ",
        "inputType": "base64",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        720,
        260
      ],
      "id": "8aa6035b-ff5f-4a15-bb01-14f188844fb7",
      "name": "Analysis image",
      "credentials": {
        "openAiApi": {
          "id": "bzSlxGYsfbzM0lFT",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "cbcebabb-727f-43fb-8bd7-592e2b899e8d",
              "name": "text",
              "value": "=# The user provided the following image and text.\n\n## Image Description:\n{{ $json.content }}\n\n## User Message:\n{{ $('WhatsApp\nTrigger').item.json.messages[0].image.caption || \"What's in this image?  Describe the image in  details. \" }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        940,
        260
      ],
      "id": "ad801c23-d633-4275-99d6-777814a291cd",
      "name": "Image and text"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.toolSerpApi",
      "typeVersion": 1,
      "position": [
        1400,
        280
      ],
      "id": "6ac349f7-f005-4794-b2cc-480cfa563247",
      "name": "SerpAPI",
      "credentials": {
        "serpApi": {
          "id": "GeOz56JBLLK5OoFC",
          "name": "SerpAPI account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatXAiGrok",
      "typeVersion": 1,
      "position": [
        -160,
        480
      ],
      "id": "0bdc1b44-ea2c-4e4d-808d-95e8b041962f",
      "name": "xAI Grok Chat Model",
      "credentials": {
        "xAiApi": {
          "id": "gcjqooANGRkZ3I9P",
          "name": "xAi account"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/gemini-1.5-flash",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        1140,
        380
      ],
      "id": "6c3d0673-e055-451a-80a7-ff7e26ef7cb7",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "Pa477XoLjEpviaOk",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "WhatsApp Trigger": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        []
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "GET AUDIO URL",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "get Image url",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GET AUDIO URL": {
      "main": [
        [
          {
            "node": "Download AUDIO",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download AUDIO": {
      "main": [
        [
          {
            "node": "OpenAI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Generate Audio",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond to text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Audio": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Respond to audio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get Image url": {
      "main": [
        [
          {
            "node": "Image  Download ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Image  Download ": {
      "main": [
        [
          {
            "node": "Analysis image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analysis image": {
      "main": [
        [
          {
            "node": "Image and text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Image and text": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SerpAPI": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "65f98ce6-df6b-4dcb-8d35-4cbec2365e51",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "84defe53a0047af17c989f63e1408e65f11c5435ed2172f77947c629f72f324f"
  },
  "id": "35FvL9KxCTuFuQSS",
  "tags": []
}